
.announcement-items.announcement-post{
    font-size: 1.15em;
    margin-left: auto;
    width: 90%;
    padding: 2em;
}
.announcement-post-title{
    font-size: 20px;
    width: 80%;
    text-align: center;
    padding-bottom: 1em;
    }

.announcement-items .announcement-post-creater, .announcement-post-location{
    font-size: 20px;;
    text-align: end;
    }
    

.announcement-post-text{
    padding-top: 1em;
    font-size: 20px;
    text-align: justify;
    }
    


.announcement-post-image-header {
    width: 50%;
    height: auto;
    margin-left: 25%;
}

.form{
  width: 1200px;  
}

table, th , td {
    border-collapse: collapse;
    padding-left: 5px;
	padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;


}


table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}